

.submitted-message{
    color: white;
}

form{
    background-color:red !important;
}

input{
    background-color: red !important;
}

#message-62410fda-9a2a-4d5d-9084-a82c28f36392{
    background-color: red !important;
    color: tomato !important;
    font-size: 55px !important;
    

}