
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





html{
width: 100vw;
scrollbar-width: 5px;

}

body {
  overflow-x: hidden;
  font-family: 'Space Grotesk';
  background-color: black;
  color: white;
}

