

.section2{
    width: 1400px;
    height:1000px;
    margin-left: auto;
    margin-right: auto;
}
.title-s2{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 64px;
    margin:0px;
}

.sub-tittle-s2{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color:rgb(84, 80, 80);
   margin:0px;
}


.video-steps{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 5px
}