.m-subject{
    margin-bottom: auto;
  
  }
  
  .k-title-section-1{
    color: white;
    font-size: 80px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    
  }
  
  .section-1{
    width: 730px;
    height: 542px;
    margin-left: auto;
    margin-right: auto;
  }
  .k-text-section-1{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-weight: 300;
    margin: 0;
  
  }
  
  /*------Button section-------*/
  
  .download-button{
    margin-right: auto;
    background-color:  #cf2929;
    color: white;
  }
  
  .trade-button{
    color: white;
  }
  
  .button-section{
    display: flex;
    height: 55px;
   width: 370px;
   margin-left: auto;
   margin-right: auto;
  }
  
  .button-s-1{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    width: 176px;
    height: 55px;
    border: 2px solid #cf2929;
    padding: 10px ;
    border-radius: 64px;
  }