body{
    padding: 0px;
    margin: 0px;
   /* background-image: url("https://img.freepik.com/premium-vector/seamless-pattern-with-musical-notes-white-background_533406-356.jpg?w=2000");
    background-repeat: repeat;
    background-size: cover;
    background-color: red;*/
    /* Ejemplo de CSS */

  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;

}

#title{
    
    background-color: #0D0628;
    margin: 0px;
    color: #DA627D;
    text-align: center;
    padding: 5px;
    width:100%;
    font-size: 6vw;
}



#img-figure{
    background-image: url("https://static9.depositphotos.com/1000423/1116/i/950/depositphotos_11168113-stock-photo-music-notes-background.jpg");
    width: 100%;
    height: 360px;
margin: 0px;
display: block;
position: relative;
}

#img-caption{

   margin-top: -4px;
    background-color: #0D0628;
    color:black;
    text-align: center;
    color:#DA627D;
    padding-bottom: 10px;
    

}

#main{
margin:0px;
    height: 800px;
}




#img-caption > quote{
    text-align: center;
    font-size: 24px;
    height: 30px;
  
}
.year-span{
    font-weight: bold;
   color: #9a348e;
   padding-bottom: 5px;
}

#tribute-info{
    padding-top: 60px;
    background-color: #ffedfd;
    padding-right: 19px;
padding-bottom: 10px;

}

footer{
    background-color: #0D0628 ;
    height: 60px;
    width: 100%;
    margin-top: -15px;
    
}

#tribute-subject{
    text-align: center;
}

#image {

  display: block;
  max-width: 100%;
  height: 350px;
 margin: 10px auto;
}

footer  {
   text-align: center;
   padding-top: 10px;
}

main{
    background-image: url("https://i.pinimg.com/originals/df/69/0a/df690a68895bca790a358cda23ae3c89.jpg");
    background-size: cover;
}

#tribute-link{
    text-decoration: none;
    color:#a65feb;
}

@media only screen and (max-width: 480px) {
    #image {
        width: auto;
        height: auto;
    }
}
